*, *:before, *:after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: greyscale;
}
.newPost {
  width: 100%;
  max-width: 1200px;
  min-width: 480px;
  background: #FFF;
  font-family: Arial, sans-serif;
}
.newPost h3 {
  margin: 0px 0px 20px 0px;
  font-size: 30px;
  color: #2E3641;
}
.newPost input[type="text"], textarea {
  padding-left: 15px;
  width: 100%;
  max-width: 100%;
  height: 74px;
  border: 1px solid #000000;
  box-shadow: inset 0px 0px 3px #000000;
  outline: none;
  font-family: Arial, serif;
  font-size: 24px;
  color: #000000;
  margin-bottom: 20px;
}
.newPost input[type="text"]{
    font-size: 38px;
    height: 60px;
}

.newPost .toolbar {
  background: #2E3641;
}
.newPost .toolbar button {
  float: left;
  width: 45px;
  height: 45px;
  background: #2E3641;
  border: none;
  border-right: 1px solid #434f5f;
  color: #000000;
  outline: none;
}
.newPost .toolbar button:hover {
  background: #394250;
  color: #b1c3cf;
}
.newPost .toolbar:after {
  content: '';
  display: block;
  clear: both;
}
.newPost .editor {
  min-height: 180px;
  width: 100%;
  resize: none;
  border: 1px solid #000000;
  box-shadow: inset 0px 0px 3px #000000;
  outline: none;
  padding: 15px;
  margin-bottom: 20px;
  position: relative;
}
.newPost .buttons {
  float: right;
}
.newPost .buttons button {
  float: left;
  width: 170px;
  height: 45px;
  border: none;
  color: #FFF;
  text-transform: uppercase;
  outline: none;
  margin-right: 20px;
  font-weight: bold;
  background: #000000;
  text-decoration: none;
}
.newPost .buttons button:last-of-type {
  margin-right: 0px;
  background: #F97E76;
}
.newPost .buttons button:last-of-type:hover {
  background: #fa958e;
}
.newPost .buttons button:active {
  box-shadow: inset 0px 4px rgba(0, 0, 0, 0.05);
}
.newPost .buttons button:hover {
  background: #d1dbe3;
}
.newPost .buttons:after {
  content: '';
  display: block;
  clear: both;
}
.newPost:after {
  content: '';
  display: block;
  clear: both;
}