/* imports */
@import url(http://weloveiconfonts.com/api/?family=entypo|zocial);

/* the very basics */
body { margin: 0; font-family: Arial }
em { font-style: italic }
strong { font-weight: 700 }
small { font-size: 50%; }
button { cursor: pointer; }
del { text-decoration: line-through; }
ins { text-decoration: none; border-bottom: 3px double; }
img {
  max-width: 100%;
  height: auto;
  padding: 0.2em;
  border: 0.2em solid rgba(52, 73, 94, 0.2);
}
.alignleft {
  float: left;
  margin: 1.5em 2em 1em 0;
}
.alignright {
  float: right;
  margin: 2em 0 1em 2em;
}
* { box-sizing: border-box; }

/* typography */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}
[class*="zocial-"]:before {
  font-family: 'zocial', sans-serif;
}
body {
  font-family: Arial, Georgia, Times, serif;
  font-size-adjust: auto;
  text-rendering: optimizeLegibility;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
}
header, footer {
  text-align: center;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Georgia, Times, serif;
  font-weight: 700;
}
.main-nav {
  font-size: 0.9em;
}
h1 {
  font-size: 3.8em;
  letter-spacing: 0.05em;
}
h2 {
  font-size: 2.8em;
}
h3 {
  font-size: 2.5em;
}
h4 {
  font-size: 2em;
  line-height: 1;
}
p, li {
  line-height: 1.6em;
  word-spacing: 0.2em;
  hyphens: auto;
}
p.meta {
  font-size: 1.25em;
  line-height: 2em;
  text-align: center;
}
footer p {
  font-size: 1.2em;
  hyphens: none;
}
.footer-beta {
  font-size: 1.75em;
  line-height: 1.5em;
  text-align: center;
}
.social li {
  font-size: 2em;
  line-height: 2em;
}

/* links */
a:link, a:visited {
  color: #777;
  text-decoration: underline;
}
a:hover, a:active {
  color: #000;
}
.main-nav a {
  text-decoration: none;
  padding: 0.1em 0.2em;
}
.main-nav .current:hover {
  border-bottom: none;
}
.footer-beta a {
  margin: 0 0.25em;
}
.footer-beta a:hover {
  cursor: pointer;
}
.social a {
  text-decoration: none;
}

/* colors, borders, backgrounds */
body {
  background: #fff;
}
header {
  color: #555;
}
footer, .main-nav {
  background: #999999;
  color: black;
}
h1 {
  color: #C51F1F;
  text-shadow: 0 0 5px #333;
}
h2, h3, h4, h5, h6 {
  color: rgba(0, 0, 0, 0.7);
}
.main-nav a,
.page-footer a {
  color: #333333;
}
.page-footer a:hover {
  color: #fff;
}
.main-nav .current {
  color: black;
}
.main-nav a:hover {
  border-bottom: 0.15em solid #ddd;
}
button {
  border: none;
  background: rgba(0,0,0,0.4);
  color: #fff;
  border-radius: 5px;
}
button:hover,
button:active,
button:focus {
  background: rgba(0,0,0,0.6);
}
article, .comments {
  border-bottom: 0.4em solid rgba(0, 0, 0, 0.1);
}
blockquote {
  color: #555;
  border-left: 0.5em solid rgba(52, 73, 94, 0.7); /* rgba(0, 0, 0, 0.4) */
}
code {
  color: #555;
  background: rgba(52, 73, 94, 0.1);
  border: 0.125em solid rgba(52, 73, 94, 0.2);
}
code::before {
  color: #fff;
  background: rgb(52, 73, 94);
}
p.meta {
  color: #555;
}
.social li::before {
  content: "";
}

/* layout */
.wrapper {
  margin: 1em auto;
  max-width: 71.25em;
}
header, footer {
  padding: 1em 2em;
}

  /* header */
header {
  height: auto;
}
h1 {
  margin: 1em 0;
  padding: 0.25em;
}

  /* nav */
.main-nav {
  display: block;
  margin: 0;
  padding: 0 0 0 2em;
}
.main-nav li {
  display: inline-block;
  padding: 1em 2em 1em 0;
}
.main-nav .right {
    float: right;
}

.main-nav li::before {
  content: "";
}
.nav-trigger,
.nav-close {
  display: none;
}

  /* content */
.content {
  padding: 0 2em;
}
article, .comments {
  padding: 0 0 3.5em 0;
  margin: 2em 0;
}
div.comment{
    overflow-y:scroll; max-height:600px;
}

blockquote {
  padding: 0.5em 1em;
  margin: 1em 0;
}
h2, h3, h4, h5, h6 {
  margin: 0.5em 0;
}
p {
  margin: 1.5em 0;
}
p.meta {
  margin: 1.5em 0 0 0;
}
p.meta > * {
  margin-right: 1em;
}
p.meta:last-child {
  margin-right: 0;
}
ul {
  list-style: disc;
  margin: 2em 0;
}
ul ul {
  margin: 0;
}
ol {
  list-style: decimal;
}
li {
  padding: 0 0 0 0.5em;
}
li li {
  padding: 0 0 0 1em;
}

/* footer */
.page-footer {
  margin-top: 5em;
}
.social li {
  display: inline-block;
  padding: 0 0.5em;
}

/* responsiveness */
@media (min-width: 100em) {
  header {
    background: rgba(0, 0, 0, 0.1) url('../res/steez_big.jpg') center center no-repeat;
    background-size: cover;
  }
  .main-nav .right {
    float: right;
  }
}
@media (min-width: 75em) and (max-width: 100em) {
  html {
    font-size: 16px;
  }
  .main-nav .right {
    float: right;
  }
  header {
    background: rgba(0, 0, 0, 0.1) url('../res/steez_middle.jpg') center center no-repeat;
    background-size: cover;
  }
}
@media (min-width: 48em) and (max-width: 75em) {
  html {
    font-size: 13px;
  }
  .main-nav .right {
    float: right;
  }
  header {
    background: rgba(0, 0, 0, 0.1) url('../res/steez_small.jpg') center center no-repeat;
    background-size: cover;
  }
  .wrapper {
    margin: 1.75em auto;
  }
}
@media (max-width: 47.9375em) and (min-width: 30em) {
  html {
    font-size: 12px;
  }
  header, footer {
    padding: 0.75em 1.5em;
  }
  header {
    background: rgba(0, 0, 0, 0.1) url('http://lorempixel.com/g/770/192/nature/2/') center center no-repeat;
    background-size: cover;
  }
  h1 {
    margin: 0.75em 0;
  }
  .main-nav .right {
    float: right;
  }
  .wrapper {
    margin: 1.5em auto;
  }
  .content {
    padding: 0 1.5em;
  }
  time {
    display: block;
  }
  .footer-beta span {
    display: block;
  }
}
@media (max-width: 30em) {
  html {
    font-size: 11px;
  }
  header, footer {
    padding: 0.5em 1em;
  }
  header {
    background: rgba(0, 0, 0, 0.1) url('http://lorempixel.com/g/480/120/nature/1/') center center no-repeat;
    background-size: cover;
  }
  h1 {
    margin: 0.5em 0;
  }
  .main-nav {
    opacity: 0.9;
    padding: 0s;
  }
  .main-nav li {
    display: block;
    text-align: center;
    font-size: 1em;
    padding: 1em 0;
  }
  .main-nav .right {
    float: inherit;
  }
  .wrapper {
    margin: 1em auto;
  }
  .content {
    padding: 0 1em;
  }
  time {
    display: block;
  }
}
/*Animations*/
.outerErrorDiv{
    position: fixed;
    width: 100%;
}

.errorDiv{
    opacity: 0;
    margin-left: auto;
    margin-right: auto;
    animation: fadein 6s;
}

@keyframes fadein {
0%   {opacity:0}
40%  {opacity:1}
80%  {opacity:1}
100% {opacity:0}
}
/* helpers */
.showit {
  display: block;
}
.hideit {
  display: none;
}
.fixed-header{
  position:fixed;
  top:0;
  width:  100%;
}